.my-container{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    line-height: 1.428571429;
    color: #333;
}
.user-info-card{
    background-color: #FFF;
    padding: 10px 20px 0 20px;
}
.post-card{
    padding: 20px;
    margin: 10px 10px 10px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    display: block;
    border-radius: 10px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.post-title{
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
    margin-top: -4px;
    margin-bottom: -4px;
}
.post-content{
    margin-top: 9px;
    margin-bottom: 2px;
    font-size: 15px;
    max-height: 55px;
    overflow: hidden;
    color: #1a1a1a;
}
.content-item{
    align-items: center;
    color: #646464;
    display: flex;
    padding: 10px 16px;
    margin:0 -16px -10px;
    background: #fff; 
}
.content-item-button{
    color:#76839b;
    padding-left:12px;
    font-size: 12px;
}
.timeline-card{
    margin: 0 10px 10px 10px
}
.timeline-header{
    display: flex;
    align-items: center;
    color: #6a737d;
    background-color: #FFF;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.timeline-content{
    padding: 20px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    display: block;
    border-radius: 0 0 10px 10px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.timeline-username{
    color: #24292e;
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
}

.timeline-avatar{
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 20px;
}
.message-card{
    padding: 10px;
    background:#fff;
    display: flex;
    box-shadow: 0 1px 4px rgba(26,26,26,.1);
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.message-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
}
.message-avatar{
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 30px;
}
.message-right{
    border-bottom:1px #646464;
    display: flex;
}
.message-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6a737d;
}
